<div [@routerTransition]>
    <app-page-header [heading]="nombreaula" [icon]="'fa-table'"></app-page-header>
    <div class="row" *ngIf="aula" >
        <div class="col col-md-6">
                <h4>Datos del aula:</h4>
            <form #datosaula="ngForm" name="datosaula">
            <div class="row">
                <div class="col col-md-12">
                        <mat-form-field class="full-width">
                                <input name="nombre" required [(ngModel)]="aula.nombre" matInput placeholder="Nombre">
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                    <div class="col col-md-6">
                            <mat-form-field class="full-width">
                                    <input name="capacidad" required [(ngModel)]="aula.capacidad" matInput placeholder="Capacidad">
                            </mat-form-field>

                    </div>
                    <div class="col col-md-6">
                            <mat-form-field class="full-width">
                                    <input name="equipos" required [(ngModel)]="aula.equipos" matInput placeholder="Equipos">
                            </mat-form-field>

                    </div>
            </div>
        </form>
            <div class="row">
                <div class="col col-md-6">
                        <button
                        *ngIf="aula.id"
                        mwlConfirmationPopover
                        [title]="'Borrar aula'"
                        [message]="'Realmente desea eliminar este aula'"
                        confirmText="Borrar"
                        cancelText="Cancelar"
                        placement="top"
                        (confirm)="borrarAula()"
                        (cancel)="cancelClicked = true"
                       class="full-width" mat-raised-button color="warn">Borrar</button>
                </div>
                <div class="col col-md-6">
                        <button [disabled]="!datosaula.form.valid || aula.tarifas==null
                        || aula.tarifas.length==0" (click)="guardarAula()" class="full-width" mat-raised-button color="primary">Guardar</button>

                </div>
            </div>
        </div>
        <div class="col col-md-6">
            <h4>Tarifas:</h4>
            <div class="row" *ngFor="let tarifa of aula.tarifas;let i = index" >
                <div class="col col-md-6">
                        <mat-form-field class="full-width">
                                <input [(ngModel)]="tarifa.nombre" matInput placeholder="Denominación">
                        </mat-form-field>
                </div>

                <div class="col col-md-4">
                        <mat-form-field class="full-width">
                                <input [(ngModel)]="tarifa.preciohora" matInput placeholder="Precio por hora">
                        </mat-form-field>
                </div>
                <div class="col col-md-2">
                        <button (click)="borrarTarifa(i)" mat-icon-button color="warn">
                                <mat-icon>delete</mat-icon>
                              </button>
                </div>
            </div>
            <div class="row">
                    <div class="col col-md-6">
                            <mat-form-field class="full-width">
                                    <input [(ngModel)]="nuevatarifa" matInput placeholder="Denominación">
                            </mat-form-field>
                    </div>

                    <div class="col col-md-4">
                            <mat-form-field class="full-width">
                                    <input [(ngModel)]="nuevatprecio" matInput placeholder="Precio por hora">
                            </mat-form-field>
                    </div>
                    <div class="col col-md-2">
                            <button (click)="nuevaTarifa()" mat-icon-button color="primary">
                                    <mat-icon>add</mat-icon>
                                  </button>  </div>
                </div>
        </div>


    </div>
    <div class="row">

            <div class="col-md-12">
                    <h4>Ocupación</h4>
                    <div *ngIf="calendarOptions">
                            <ng-fullcalendar
                            (eventClick)="visitarAula($event.detail)" (viewRender)="calendarChange($event.detail)" #caldisponibilidad [options]="calendarOptions"></ng-fullcalendar>
                    </div>

            </div>
        </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
