<div [@routerTransition]>
        <app-page-header [heading]="'Aulas'" [icon]="'fa-table'"></app-page-header>
        <div class="row">
                <div class="col col-md-12">
                        <ngx-datatable [columnMode]="'flex'" class="material"
                        [rows]="aulas"
                        [columns]="columnas"
                        [messages]="mensajes">
                        </ngx-datatable>

                    </div>
            </div>
        <div class="row pt-3 justify-content-end">
            <div class="col col-md-3">

                            <a class="full-width" mat-raised-button color="primary" [routerLink]="['/aulas/detalle',{aula:'nueva'}]"
                            [routerLinkActive]="['router-link-active']">
                            Nueva Aula
                            </a>


            </div>
        </div>
    </div>
<ng-template #tmpl_ver let-row="row" let-value="value">
        <a [routerLink]="['/aulas/detalle',{aula:value}]"
        [routerLinkActive]="['router-link-active']">
        <i class="material-icons">edit</i></a>

</ng-template>
