<div [@routerTransition]>
    <app-page-header *ngIf="alquiler" [heading]="'Alquiler '+alquiler.ref" [icon]="'fa-table'"></app-page-header>

    <div class="row" *ngIf="alquiler" >
        <div class="col col-md-4">
                <h4>Datos del Alquiler:</h4>
            <div class="row">
                <div class="col col-md-12">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="aula.nombre" readonly="true" matInput placeholder="Aula">
                </mat-form-field>
                </div>

            </div>
            <div class="row">
                <div class="col col-md-12">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="alquiler.tarifa" readonly="true" matInput placeholder="Tarifa">
                </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="alquiler.inicio" readonly="true" matInput placeholder="Inicio">

                    </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                            <input  [(ngModel)]="alquiler.fin" readonly="true" matInput placeholder="Finalización">

                        </mat-form-field>
            </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                        <input [(ngModel)]="totalhoras"  readonly="true" matInput placeholder="Total Horas">

                    </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                            <input  [(ngModel)]="importetotal" readonly="true" matInput placeholder="Importe total">

                        </mat-form-field>
            </div>
            </div>





        </div>
        <div class="col col-md-8">
            <div *ngIf="calendarOptions">
                <ng-fullcalendar #caldisponibilidad [options]="calendarOptions"></ng-fullcalendar>
                </div>
        </div>

        </div>


    </div>

<ngx-loading [show]="loading"
[config]="{ backdropBorderRadius: '0px',fullScreenBackdrop:true }"></ngx-loading>
<ng-template #tmpl_ver let-row="row" let-value="value">
    <a [routerLink]="['/clientes/detalle',{cliente:value}]"
    [routerLinkActive]="['router-link-active']">
    <i class="material-icons">edit</i></a>

</ng-template>
