<div [@routerTransition]>
    <h2 class="text-muted">Ocupación de aulas</h2>
    <div class="row">
        <div class="col-md-12">
                <div *ngIf="calendarOptions">
                        <ng-fullcalendar (eventClick)="visitarAula($event.detail)" (viewRender)="calendarChange($event.detail)" #caldisponibilidad [options]="calendarOptions"></ng-fullcalendar>
                </div>

        </div>
    </div>

</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
