@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';
@import './../../../styles/app.scss';
/deep/ .datatable-header{

        background-color: $gray-700;
        color: $white;
        height:auto!important;
    }
    /deep/ .datatable-header-cell, /deep/ .datatable-body-cell{
    padding:8px;
    }
    /deep/ .cell-center{
        text-align: center;
    }
