<div [@routerTransition]>
    <app-page-header [heading]="'Clientes'" [icon]="'fa-table'"></app-page-header>
    <div class="row">
            <div class="col col-md-12">
                    <ngx-datatable [columnMode]="'flex'" class="material"
                    [rows]="clientes"
                    [columns]="columnas"
                    [messages]="mensajes">
                    </ngx-datatable>

                </div>
        </div>
        <div class="row pt-3 justify-content-end">
            <div class="col col-md-3">

                            <a class="full-width" mat-raised-button color="primary" [routerLink]="['/clientes/detalle',{cliente:'nuevo'}]"
                            [routerLinkActive]="['router-link-active']">
                            Nuevo Cliente
                            </a>


            </div>
        </div>
</div>
<ng-template #tmpl_simple let-row="row" let-value="value">
        {{value}}
</ng-template>
<ng-template #tmpl_ver let-row="row" let-value="value">
    <a [routerLink]="['/clientes/detalle',{cliente:value}]"
    [routerLinkActive]="['router-link-active']">
    <i class="material-icons">edit</i></a>

</ng-template>
