<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Configuración de la app</h1>
            <form role="form">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <a class="btn rounded-btn"
                [href]="googlelink" target="_blank">Obtener código de Google </a>


                <div class="form-content">
                    <div class="form-group">
                        <input type="text" name="codigo" [(ngModel)]="codigo" class="form-control input-underline input-lg" id="" placeholder="Código Google">
                    </div>


                </div>
                <a class="btn rounded-btn" (click)="configurarApp()"> Iniciar </a>

            </form>
        </div>
    </div>
</div>
