<div [@routerTransition]>
    <app-page-header [heading]="nombrecliente" [icon]="'fa-table'"></app-page-header>
    <div class="row" *ngIf="cliente" >
        <div class="col col-md-6">
                <h4>Datos del cliente:</h4>
                <form #datoscliente="ngForm" name="datoscliente">
            <div class="row">
                <div class="col col-md-12">
                        <mat-form-field class="full-width">
                                <input name="nombre" required [(ngModel)]="cliente.nombre" matInput placeholder="Nombre">
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                        <mat-form-field class="full-width">
                                <input name="cif" required [(ngModel)]="cliente.cif" matInput placeholder="Cif">
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                        <mat-form-field class="full-width">
                                <input name="direccion"  [(ngModel)]="cliente.direccion" matInput placeholder="Direccion">
                        </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                            <input name="cp" [(ngModel)]="cliente.cp" matInput placeholder="C.P.">
                    </mat-form-field>
            </div>
            </div>
            <div class="row">
                <div class="col col-md-12">
                        <mat-form-field class="full-width">
                                <input name="representante" required [(ngModel)]="cliente.representante" matInput placeholder="Representante">
                        </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-6">
                        <mat-form-field class="full-width">
                                <input name="email" required [(ngModel)]="cliente.email" matInput placeholder="e-Mail">
                        </mat-form-field>
                </div>
                <div class="col col-md-6">
                    <mat-form-field class="full-width">
                            <input name="telefono" required [(ngModel)]="cliente.telefono" matInput placeholder="Teléfono">
                    </mat-form-field>
            </div>

            </div>
        </form>
            <div class="row">
                <div class="col col-md-6">
                        <button
                        *ngIf="cliente.id"
                        mwlConfirmationPopover
                        [title]="'Borrar cliente'"
                        [message]="'Realmente desea eliminar este cliente'"
                        confirmText="Borrar"
                        cancelText="Cancelar"
                        placement="top"
                        (confirm)="borrarCliente()"
                        (cancel)="cancelClicked = true"
                        class="full-width" mat-raised-button color="warn">Borrar</button>
                </div>
                <div class="col col-md-6">
                        <button [disabled]="!datoscliente.form.valid"
                        (click)="guardarCliente()"
                        class="full-width" mat-raised-button color="primary">Guardar</button>

                </div>
            </div>
        </div>
        <div class="col col-md-6" *ngIf="cliente.id">
            <h4>Alquileres:</h4>
                <div class="row">
                    <div class="col col-md-12">
                        <ngx-datatable [columnMode]="'flex'" class="material"
                        [rows]="alquileres"
                        [columns]="columnas"
                        [messages]="mensajes">
                        </ngx-datatable>
                    </div>
                </div>
                <div class="row pt-3 justify-content-end">
                    <div class="col col-md-4">

                                    <a class="full-width"
                                    mat-raised-button color="primary"
                                    [routerLink]="['/clientes/alquiler',{cliente:cliente.id}]"
                                    [routerLinkActive]="['router-link-active']">
                                    Nuevo Alquiler
                                    </a>


                    </div>
                </div>
                </div>
        </div>


    </div>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
<ng-template #tmpl_ver let-row="row" let-value="value">
<button class="simplebutton"
mwlConfirmationPopover
[title]="'Borrar alquiler'"
[message]="'Realmente desea eliminar este alquiler'"
placement="top"
confirmText="Borrar"
cancelText="Cancelar"
(confirm)="borrarAlquiler(value)"
(cancel)="cancelClicked = true"
popoverClass="dialogoalertaalquiler"
 color="warn">
                                <mat-icon color="warn">delete</mat-icon>
                              </button>

<button class="simplebutton"
   color="primary" (click)="verAlquiler(row)">
      <mat-icon color="primary">remove_red_eye</mat-icon>
</button>


</ng-template>
