<div [@routerTransition]>
    <app-page-header [heading]="'Alquiler'" [icon]="'fa-table'"></app-page-header>
    <div class="row pb-3" *ngIf="calendarOptions" [hidden]="!mostrardisponibilidad">
        <div class="col col-md-12">
        <h4>Disponibilidad:</h4>
        <div *ngIf="calendarOptions">
<ng-fullcalendar #caldisponibilidad [options]="calendarOptions"></ng-fullcalendar>
</div>
        </div>
    </div>
    <div class="row" *ngIf="alquiler" >
        <div class="col col-md-5">
                <h4>Datos del cliente:</h4>
                <form #datosalquiler="ngForm" name="datosalquiler">

                    <div class="row">
                        <div class="col col-md-12">
                                <mat-form-field class="full-width">
                                        <input name="ref" required [(ngModel)]="alquiler.ref" matInput placeholder="Referencia">
                                </mat-form-field>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col col-md-6">
                                            <mat-form-field class="full-width">
                                                <mat-select name="idaula" required  [(ngModel)]="alquiler.idaula"   placeholder="Aula" (blur)="comprobarDisponibilidad();ofrecerTarifas()">
                                                  <mat-option *ngFor="let aula of aulas" [value]="aula.id">
                                                    {{ aula.nombre }}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                        <div class="col col-md-6">
                                             <mat-form-field class="full-width">
                                                <mat-select name="tarifa" required  [(ngModel)]="alquiler.tarifa"   placeholder="Tarifa">
                                                  <mat-option *ngFor="let tarifa of tarifas" [value]="tarifa.nombre">
                                                    {{ tarifa.nombre }} - {{tarifa.preciohora}}
                                                  </mat-option>
                                                </mat-select>
                                              </mat-form-field>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col col-md-6">
                                                <mat-form-field  class="full-width">
                                                        <input name="inicio" required  (dateChange)="comprobarDisponibilidad()" [matDatepicker]="fi" [(ngModel)]="alquiler.inicio"
                                                         matInput placeholder="Inicio">
                                                         <mat-datepicker-toggle matSuffix  [for]="fi"></mat-datepicker-toggle>
                                                        <mat-datepicker #fi></mat-datepicker>
                                                    </mat-form-field>
                                        </div>
                                        <div class="col col-md-6">
                                            <mat-form-field class="full-width">
                                                    <input name="fin" required  (dateChange)="comprobarDisponibilidad()" [matDatepicker]="ff" [(ngModel)]="alquiler.fin" matInput placeholder="Finalización">
                                                    <mat-datepicker-toggle matSuffix [for]="ff"></mat-datepicker-toggle>
                                                    <mat-datepicker #ff></mat-datepicker>
                                                </mat-form-field>
                                    </div>
                                    </div>
                </form>




            <div class="row pt-3 justify-content-end">
                    <div class="col col-md-4">
                            <button [disabled]="!datosalquiler.form.valid" (click)="crearAlquiler()" class="full-width"
                             mat-raised-button color="primary">Crear Alquiler</button>
                     </div>
                </div>


        </div>
        <div class="col col-md-7">
            <h4>Calendario:</h4>


            <div *ngFor="let h of alquiler.horarios,let i = index" class="row">
                    <div class="col col-md-2">
                            De {{h.desde}}
                    </div>
                    <div class="col col-md-2">
                            a {{h.hasta}}
                    </div>
                    <div class="col col-md-6">
                        Dias: {{generarDias(h.recurrencia)}}
                    </div>
                    <div class="col col-md-2">
                            <button (click)="eliminarHorario(i)" mat-icon-button color="warn">
                                    <mat-icon>delete</mat-icon>
                                  </button>
                    </div>
            </div>
            <div class="row">
                <div class="col col-md-2">
                        <mat-form-field class="full-width">
                                <input [textMask]="{mask: mask}" [(ngModel)]="nhorario.desde" matInput placeholder="Desde">
                        </mat-form-field>
                </div>
                <div class="col col-md-2">
                        <mat-form-field class="full-width">
                                <input [textMask]="{mask: mask}" [(ngModel)]="nhorario.hasta" matInput placeholder="Hasta">
                        </mat-form-field>
                </div>
                <div class="col col-md-6">
                        <mat-checkbox [(ngModel)]="nhorario.dias[1]">L</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[2]">M</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[3]">X</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[4]">J</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[5]">V</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[6]">S</mat-checkbox>
                        <mat-checkbox [(ngModel)]="nhorario.dias[0]">D</mat-checkbox>
                </div>
                <div class="col col-md-2">
                        <button (click)="incluirHorario()" mat-icon-button color="primary">
                                <mat-icon>add</mat-icon>
                              </button>
                </div>

            </div>

                </div>
        </div>


    </div>

<ngx-loading [show]="loading"
[config]="{ backdropBorderRadius: '0px',fullScreenBackdrop:true }"></ngx-loading>
<ng-template #tmpl_ver let-row="row" let-value="value">
    <a [routerLink]="['/clientes/detalle',{cliente:value}]"
    [routerLinkActive]="['router-link-active']">
    <i class="material-icons">edit</i></a>

</ng-template>
